<?xml version="1.0" ?>
<model>
    <name>box_green_16</name>
    <version>1.0</version>
    <sdf version="1.8">model.sdf</sdf>
    <author>
        <name>Sahil Shinde</name>
        <email>sahil.shinde@e-yantra.org</email>
    </author>
    <description>Box green with ArUco marker 16</description>
</model>
